.card--auth:hover {
  background: #5ceefd;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.card--auth.card--auth--tylermcginnis:hover {
  background: #741cfe;
}

.card--auth.card--auth--johndoe:hover {
  background: #ef25ff;
}

.img-holder--auth-card {
  width: 50px;
}
