.container--layout {
  background-attachment: auto;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

@media (min-width: 1200px) {
  .container--layout {
    padding-top: 120px;
  }
}
