.container--layout {
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container--layout {
    padding-top: 0;
  }

  .row--authed {
    padding-top: 150px;
  }
}
